{% extends "layout.html" %}

{% block pageTitle %}
Thanks for your feedback
{% endblock %}

{% block pageDescription %}

{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}



{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Thanks for your feedback</h1>

    <p class="govuk-body">By providing feedback, you're helping to make our services better.</p>

    <p class="govuk-body">You can now close this window.</p>




  </div>



</div>


{% endblock %}