<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>

    <meta charset="utf-8" />
    <title>{% block pageTitle %}{% endblock %} - Contact us - Gambling Commission</title>
    <meta name="description" content="{% block pageDescription %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-title" content="GC Service Manual">
    <meta name="application-name" content="GC Service Manual">
    <link rel="apple-touch-icon" sizes="57x57"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-57x57.png?v=2">
    <link rel="apple-touch-icon" sizes="60x60"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-60x60.png?v=2">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-72x72.png?v=2">
    <link rel="apple-touch-icon" sizes="76x76"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-76x76.png?v=2">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-114x114.png?v=2">
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-120x120.png?v=2">
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-144x144.png?v=2">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-152x152.png?v=2">
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/apple-icon-180x180.png?v=2">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://gc-frontend-cdn.azurewebsites.net/images/public/android-icon-192x192.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="96x96"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/favicon-96x96.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/favicon-16x16.png?v=2">
    <link rel="manifest" href="https://gc-frontend-cdn.azurewebsites.net/public/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
        content="https://gc-frontend-cdn.azurewebsites.net/public/images/ms-icon-144x144.png?v=2">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48"
        href="https://gc-frontend-cdn.azurewebsites.net/public/images/favicon.ico?v=2" type="image/x-icon">

    <link href="/public/stylesheets/application.css" rel="stylesheet" />
    <!--[if !IE 8]><!-->
    <link href="https://gc-frontend-cdn.azurewebsites.net/public/stylesheets/application.css" rel="stylesheet" />

    <!--<![endif]-->

    <!--[if IE 8]>
        <link href="https://gc-frontend-cdn.azurewebsites.net/public/stylesheets/application-ie8.css" rel="stylesheet" />
      <![endif]-->

    <!--[if lt IE 9]>
        <script src="/html5-shiv/html5shiv.js"></script>
      <![endif]-->


    <meta name="author" content="Gambling Commission Digital Team" />
    <meta name="copyright" content="Gambling Commission" />
    <meta name="robots" content="index,follow" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144500255-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-144500255-3');
    </script>



    {% block pageMeta %}{% endblock %}

</head>

<body class="govuk-template__body app-body-class">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <section>
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

        <div class="gc-beta-banner">
            <div class=" govuk-width-container">
                <span class="gc-beta-tag">beta</span> This is a new service <a href="https://gc-feedback-service.herokuapp.com" target="_Blank"> give
                    us feedback</a> to help make it better.
            </div>
        </div>
    </section>
    <header class="gc-header {% block heroClass %}{% endblock%}" role="banner" data-module="govuk-header">
        <div class="gc-header-container govuk-width-container">
            <div class="gc-header-logo">
                <a href="/"><span class="govuk-visually-hidden">Go to the homepage of the Gambling Commission
                        website</span>
                    <img src="https://gc-frontend-cdn.herokuapp.com/public/images/logo.png" class="gc-logo"
                        alt="Gambling Commission logo">
                </a>
            </div>
            <div class="gc-header-content">
                <a href="/" class="gc-header-service-name">
                    Contact the Gambling Commission
                </a>
            </div>
        </div>
    </header>


    {% block heroContent %}{% endblock %}
    <section>
        <div class="govuk-width-container">
            {% block beforeContent %}{% endblock %}
        </div>
    </section>
    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        <div class="govuk-width-container">
            {% block content %}{% endblock %}
        </div>
    </main>



    <section>
        <div class="gc-footer-top">
            <div class="govuk-width-container">
                <a class="gc-return-to-top" href="#">
                    Back to top <span class="govuk-visually-hidden">of the page</span></a>
            </div>
        </div>
    </section>
    <footer class="gc-footer " role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h3 class="govuk-visually-hidden">Support links</h3>
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/accessibility">
                                Accessibility statement
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link"
                                href="https://www.gamblingcommission.gov.uk/Footer/Privacy-and-cookies.aspx"
                                target="_Blank" rel="noopener">
                                Privacy and cookies
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link"
                                href="https://www.gamblingcommission.gov.uk/Footer/Terms-and-conditions.aspx"
                                target="_Blank" rel="noopener">
                                Terms and conditions
                            </a>
                        </li>


                    </ul>
                    <span class="gc-footer-sub">
                        Built by the Gambling Commission Digital Team
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://gc-frontend-cdn.azurewebsites.net/public/javascripts/jquery-1.11.3.js"></script>
    <script src="https://gc-frontend-cdn.azurewebsites.net/public/javascripts/all.js"></script>
    <script src="https://gc-frontend-cdn.azurewebsites.net/public/javascripts/application.js"></script>

    <script type="text/javascript">
        window._mfq = window._mfq || [];
        (function() {
            var mf = document.createElement("script");
            mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/80586ee5-4e82-4287-97b8-d572617f1ab0.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>
</body>

</html>