{% extends "layout.html" %}

{% block pageTitle %}
What is the name of the ADR?
{% endblock %}

{% block pageDescription %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

{% if err %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
    data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            {% if err_adr_name %}
            <li>
                <a href="#adr-name">What is the name of the ADR?</a>
            </li>
            {% endif %}

            {% if err_concern %}
            <li>
                <a href="#concern">What is your concern about?</a>
            </li>
            {% endif %}

            {% if err_more_detail %}
            <li>
                <a href="#more-detail">Please tell us more information about your concerns</a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>
{% endif %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST">
            <div class="govuk-form-group {% if err_adr_name %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">What is the name of the ADR?</h1>
                    </legend>
                    {% if err_adr_name %}
                    <span id="adr-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> What is the name of the ADR?
                    </span>
                    {% endif %}
                    <span id="changed-name-hint" class="govuk-hint">
                        Choose one option.
                    </span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name" name="adr-name" type="radio"
                             value="adr-group" {{ checked("adr-name", "adr-group") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name">
                                ADR Group
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-2" name="adr-name" type="radio"
                            value="bacta" {{ checked("adr-name", "bacta") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-2">
                                Bacta ADR Service
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-3" name="adr-name" type="radio"
                                value="cedr" {{ checked("adr-name", "cedr") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-3">
                                CEDR (Centre for Effective Dispute Resolution)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="ecogra" {{ checked("adr-name", "ecogra") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                eCOGRA
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="ibas" {{ checked("adr-name", "ibas") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                IBAS (Independent Betting Adjudication Service Limited)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="lindsays" {{ checked("adr-name", "lindsays") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                Lindsays
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio" 
                            value="ncf" {{ checked("adr-name", "ncf") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                National Casino Forum – Independent Panel for Casino Arbitration
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="promediate" {{ checked("adr-name", "promediate") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                Promediate
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="tattersalls-committee" {{ checked("adr-name", "tattersalls-committee") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                Tattersalls Committee
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="unknown" {{ checked("adr-name", "unknown") }}>
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                I don't know
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

            <div class="govuk-form-group {% if err_concern %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" aria-describedby="concern-hint">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            What is your concern about?
                        </h1>
                    </legend>
                    {% if err_concern %}
                    <span id="concern-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> What is your concern about?
                    </span>
                    {% endif %}
                    <span id="concern-hint" class="govuk-hint">
                        Select all that apply.
                    </span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="concern" name="concern" type="checkbox"
                            value="delay" {{ checked("concern", "delay") }} >
                            <label class="govuk-label govuk-checkboxes__label" for="concern">
                                Delay in response
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="concern-2" name="concern" type="checkbox"
                            value="updated" {{ checked("concern", "updated") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="concern-2">
                                Failure to keep you updated
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="concern-3" name="concern" type="checkbox" 
                            value="unfair" {{ checked("concern", "unfair") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="concern-3">
                                Unfair process
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="concern-4" name="concern" type="checkbox" 
                            value="information" {{ checked("concern", "information") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="concern-4">
                                Failure to share information
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>


            <div class="govuk-form-group {% if err_more_detail %}govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="more-detail">
                  Please tell us more information about your concerns
                </label>
                <span id="more-detail-hint" class="govuk-hint">
                  <p class="govuk-body-s">For example, some
                    information that would be useful is:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-body-s">
                    <li>when did you make a complaint</li>
                    <li>how often have you contacted them</li>
                    <li>when was the last response you received</li>
                  </ul>
                </span>
                {% if err_more_detail %}
                <span id="more-detail-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Please tell us more information about your concerns
                </span>
                {% endif %}
                <textarea class="govuk-textarea {% if err_more_detail %}govuk-textarea--error{% endif %}"
                    id="more-detail" name="more-detail" rows="5"
                    aria-describedby="more-detail-hint more-detail-error"></textarea>
            </div>


            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}