{% extends "layout.html" %}

{% block pageTitle %}
Form M
{% endblock %}

{% block pageDescription %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}
<a href="/question/page/0" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-1">Complete the form</h1>

        <form>
             <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            What is the name of the ADR?
                        </h1>
                    </legend>
                    <span id="changed-name-hint" class="govuk-hint">
                        Select one answer only.
                    </span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name" name="adr-name" type="radio"
                                value="adr-group">
                            <label class="govuk-label govuk-radios__label" for="adr-name">
                                ADR Group
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-2" name="adr-name" type="radio"
                                value="bacta">
                            <label class="govuk-label govuk-radios__label" for="adr-name-2">
                                BACTA ADR Service
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-3" name="adr-name" type="radio"
                                value="cedr">
                            <label class="govuk-label govuk-radios__label" for="adr-name-3">
                                Centre for Effective Dispute Resolution (CEDR)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="ecogra">
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                eCOGRA
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="ibasl">
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                Independent Betting Adjudication Service Limited
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="lindsays">
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                Lindsays
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio" value="ncf">
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                National Casino Forum – Independent Panel for Casino Arbitration
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="promediate">
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                Promediate
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="tattersalls-committee">
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                Tattersalls Committee
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adr-name-4" name="adr-name" type="radio"
                                value="unknown">
                            <label class="govuk-label govuk-radios__label" for="adr-name-4">
                                I don't know
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="concern-hint">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            What is your concern about?
                        </h1>
                    </legend>
                    <span id="concern-hint" class="govuk-hint">
                        Select all that apply.
                    </span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="concern" name="concern" type="checkbox"
                                value="delay">
                            <label class="govuk-label govuk-checkboxes__label" for="concern">
                                Delay in response
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="concern-2" name="concern" type="checkbox"
                                value="updated">
                            <label class="govuk-label govuk-checkboxes__label" for="concern-2">
                                Failure to keep you updated
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="concern-3" name="concern" type="checkbox"
                                value="unfair">
                            <label class="govuk-label govuk-checkboxes__label" for="concern-3">
                                Unfair process
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="concern-4" name="concern" type="checkbox"
                                value="information">
                            <label class="govuk-label govuk-checkboxes__label" for="concern-4">
                                Failure to share information
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                    Provide a summary of your concerns

                </label>
                <span id="more-detail-hint" class="govuk-hint">
                    Include supplimentary text about the type of information we need
                </span>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
            </div>
        </form>
    </div>
</div>

<button class="govuk-button" data-module="govuk-button">
    Submit
  </button>

{% endblock %}