{% extends "layout.html" %}

{% block pageTitle %}
Form M
{% endblock %}

{% block pageDescription %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}
<a href="/forms/info-details" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-1">Complete the form</h1>

        <form>
           
                <label class="govuk-label" for="more-detail">
                    Provide a summary of your concerns
                </label>
                <span id="more-detail-hint" class="govuk-hint">
                    Include supplimentary text about the type of information we need.
                </span>
                <span id="more-detail-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter more detail
                </span>
                <textarea class="govuk-textarea govuk-textarea--error" id="more-detail" name="more-detail" rows="5"
                    aria-describedby="more-detail-hint more-detail-error"></textarea>
            </div>
        </form>
    </div>

<button class="govuk-button" data-module="govuk-button">
    Submit
</button>

{% endblock %}