{% extends "layout.html" %}

{% block pageTitle %}
Form M
{% endblock %}

{% block pageDescription %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}
<a href="/forms/info-contact" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-1">Complete the form</h1>

        <form>

                <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                            <legend class="govuk-body">
                                Have you contacted us before?
                            </legend>
        
                            <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio"
                                        value="yes">
                                    <label class="govuk-label govuk-radios__label" for="changed-name">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio"
                                        value="no">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="first-name">
                    First name
                </label>
                <input class="govuk-input" id="first-name" name="first-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="last-name">
                    Last name
                </label>
                <input class="govuk-input" id="last-name" name="last-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                    What is your user ID for online gambling
                </label>
                <input class="govuk-input" id="user-name" name="user-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint"
                    autocomplete="email" spellcheck="false">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="telephone-number">
                    Telephone number
                </label>
                <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number"
                    type="tel" autocomplete="tel">
            </div>
        </form>
    </div>
</div>



{% endblock %}