{% extends "layout.html" %}

{% block pageTitle %}
Complete the form
{% endblock %}

{% block pageDescription %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

{% if err %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
    data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            {% if err_operator_name %}
            <li>
                <a href="#operator-name">What is the name of the gambling business?</a>
            </li>
            {% endif %}

            {% if err_user_name %}
            <li>
                <a href="#user-name">What is your user ID for online gambling?</a>
            </li>
            {% endif %}

            {% if err_self_exclusion %}
            <li>
                <a href="#self-exclusion">How did you self exclude?</a>
            </li>
            {% endif %}

            {% if err_more_detail %}
            <li>
                <a href="#more-detail">Provide a summary of your enquiry</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-1">Complete the form</h1>

        <form method="POST">
            <div class="govuk-form-group {% if err_operator_name %}govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="operator-name">
                    What is the name of the gambling business?
                </label>
                {% if err_operator_name %}
                <span id="operator-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> What is the name of the gambling business?
                </span>
                {% endif %}
                <input class="govuk-input {% if err_operator_name%} govuk-input--error {% endif %}" id="operator-name"
                    name="operator-name" type="text">
            </div>

            <div class="govuk-form-group {% if err_user_name %} govuk-form-group--error {% endif %}">
                <label class="govuk-label" for="user-name">
                    What is your user ID for online gambling?
                </label>
                {% if err_user_name %}
                <span id="user-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> What is your user ID for online gambling?
                </span>
                {% endif %}
                <input class="govuk-input {% if err_user_name %} govuk-form-input--error {% endif %}" id="user-name"
                    name="user-name" type="text">
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">


            <div class="govuk-form-group {% if err_self_exclusion %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" aria-describedby="self-exclusion-hint">
                    <legend class="govuk-fieldset__legend ">
                        <h1 class="govuk-fieldset__heading">
                            How did you self exclude?
                        </h1>
                    </legend>
                    {% if err_self_exclusion %}
                    <span id="self-exclusion-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> How did you self exclude?
                    </span>
                    {% endif %}
                    <span id="self-exclusion-hint" class="govuk-hint">
                        Select all that apply.
                    </span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion" name="self-exclusion"
                                type="checkbox" value="bacta">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion">
                                Bacta
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion-2" name="self-exclusion"
                                type="checkbox" value="bingo-association">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion-2">
                                Bingo Association
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion-3" name="self-exclusion"
                                type="checkbox" value="direct">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion-3">
                                Direct from the gambling business
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion-4" name="self-exclusion"
                                type="checkbox" value="gamstop">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion">
                                GamStop
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion-5" name="self-exclusion"
                                type="checkbox" value="sense">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion-5">
                                SENSE (National Casino Forum)
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion-6" name="self-exclusion"
                                type="checkbox" value="moses">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion-6">
                                MOSES (Multi-operator self-exclusion scheme)
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">


            <div class="govuk-form-group {% if err_more_detail %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="more-detail">
                        Please tell us more information about your concerns
                    </label>
                    <span id="more-detail-hint" class="govuk-hint">
                        <p class="govuk-body-s">For example, some
                            information that would be useful is:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-body-s">
                            <li>where you able to complain to the gambling business and did you receive a response</li>
                            <li>when and how did you self-exclude</li>
                            <li>were you able to gamble during your self-exclusion period</li>
                            <li>did you change any of your details to create an account</li>
                        </ul>
                    </span>
                    {% if err_more_detail %}
                    <span id="more-detail-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Provide a summary of your enquiry
                    </span>
                    {% endif %}
                    <textarea class="govuk-textarea {% if err_more_detail %}govuk-textarea--error{% endif %}"
                        id="more-detail" name="more-detail" rows="5"
                        aria-describedby="more-detail-hint more-detail-error"></textarea>
            </div>

            <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}