{% extends "layout.html" %}

{% block pageTitle %}
Form M
{% endblock %}

{% block pageDescription %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}
<a href="/form/" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-1">Complete the form</h1>

        <form>
            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                    What is the name of the gambling business?
                </label>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="exclusion-requested-hint">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            When did you self exclude?
                        </h1>
                    </legend>
                    <span id="exclusion-requested-hint" class="govuk-hint">
                        For example, 12 11 2007
                    </span>
                    <div class="govuk-date-input" id="exclusion-requested">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="exclusion-requested-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="exclusion-requested-day" name="exclusion-requested-day" type="number"
                                    pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="exclusion-requested-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="exclusion-requested-month" name="exclusion-requested-month" type="number"
                                    pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="exclusion-requested-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    id="exclusion-requested-year" name="exclusion-requested-year" type="number"
                                    pattern="[0-9]*">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="self-exclusion-hint">
                    <legend class="govuk-fieldset__legend ">
                        <h1 class="govuk-fieldset__heading">
                            How did you self exclude?
                        </h1>
                    </legend>
                    <span id="self-exclusion-hint" class="govuk-hint">
                        Select all that apply.
                    </span>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion" name="self-exclusion"
                                type="checkbox" value="moses">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion">
                                Moses
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion-2" name="self-exclusion"
                                type="checkbox" value="gamstop">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion-2">
                                GamStop
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="self-exclusion-3" name="self-exclusion"
                                type="checkbox" value="direct">
                            <label class="govuk-label govuk-checkboxes__label" for="self-exclusion-3">
                                Direct from the gambling business
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                    Provide a summary of your enquiry

                </label>
                <span id="more-detail-hint" class="govuk-hint">
                    Include supplimentary text about the type of information we need
                </span>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
            </div>
        </form>
    </div>
</div>

<button class="govuk-button" data-module="govuk-button">
    Submit
</button>

{% endblock %}