{% extends "layout.html" %}

{% block pageTitle %}
Form M
{% endblock %}

{% block pageDescription %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block content %}
<a href="/form/" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-1">Complete the form</h1>

        <form>
                    <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="complained-to-operator-hint">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            Have you complained to the gambling business?
                        </h1>
                    </legend>
                    <span id="complained-to-operator-hint" class="govuk-hint">
                        Include supplimentary text about complaining in the first instance
                    </span>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="complained-to-operator" name="complained-to-operator"
                                type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="complained-to-operator">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="complained-to-operator-2"
                                name="complained-to-operator" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="complained-to-operator-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                    What is the name of the gambling business?
                </label>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                    How much have you spent with the gambling business?
                </label>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="event-name">
                    Over what period did you spend the above amount?
                </label>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="complained-to-operator-hint">
                    <legend class="govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            Did the gambling business interact with you during the above period? 
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="complained-to-operator" name="complained-to-operator"
                                type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="complained-to-operator">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="complained-to-operator-2"
                                name="complained-to-operator" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="complained-to-operator-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                    Provide a summary of your enquiry

                </label>
                <span id="more-detail-hint" class="govuk-hint">
                    Include supplimentary text about the type of information we need
                </span>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
            </div>
        </form>
    </div>
</div>

<button class="govuk-button" data-module="govuk-button">
    Submit
</button>

{% endblock %}