{% extends "layout.html" %}

{% block pageTitle %}
Have you complained to the gambling business?
{% endblock %}

{% block pageDescription %}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
<a href="/" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

{% if err %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
  data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">

      {% if err_complaint %}
      <li>
        <a href="#complained-to-operator">Have you complained to the gambling business?</a>
      </li>
      {% endif %}

      {% if err_operator_name %}
      <li>
        <a href="#operator-name">What is the name of the gambling business?</a>
      </li>
      {% endif %}

      {% if err_user_name %}
      <li>
        <a href="#user-name">What is your user ID for online gambling?</a>
      </li>
      {% endif %}

      {% if err_complaint_date %}
      <li>
        <a href="#complaint-date">When did you complain to the gambling business?</a>
      </li>
      {% endif %}

      {% if err_more_detail %}
      <li>
        <a href="#more-detail">Provide a summary of your enquiry</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form method="POST">
      <div class="govuk-form-group {% if err_complaint %} govuk-form-group--error {% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="complained-to-operator-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Have you complained to the gambling business?</h1>
          </legend>
          {% if err_complaint %}
          <span id="complaint-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Have you attempted to complained to the gambling business?
          </span>
          {% endif %}
          <span id="complained-to-operator-hint" class="govuk-hint">
            We are unable to investigate complaints or get money back for you. You can find out more information about
            our role and also about raising a concern with a gambling business on our website. If you have not yet
            complained to the business, please do so before reporting an issue to us.
          </span>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="complained-to-operator-conditional" name="complained-to-operator"
                type="radio" value="yes" {{ checked("complained-to-operator", "yes") }}
                data-aria-controls="conditional-complained-to-operator-conditional">
              <label class="govuk-label govuk-radios__label" for="complained-to-operator-conditional">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-complained-to-operator-conditional">
              <div class="govuk-form-group {% if err_operator_name %}govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="operator-name">
                  What is the name of the gambling business?
                </label>
                {% if err_operator_name %}
                <span id="operator-name-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> What is the name of the gambling
                  business?
                </span>
                {% endif %}
                <input class="govuk-input {% if err_operator_name%} govuk-input--error {% endif %}" id="operator-name"
                  name="operator-name" type="text">
              </div>

              <div class="govuk-form-group {% if err_user_name %} govuk-form-group--error {% endif %}">
                <label class="govuk-label" for="user-name">
                  What is your user ID for online gambling?
                </label>
                {% if err_user_name %}
                <span id="user-name-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> What is your user ID for online gambling?
                </span>
                {% endif %}
                <input class="govuk-input {% if err_user_name %} govuk-form-input--error {% endif %}" id="user-name"
                  name="user-name" type="text">
              </div>

              <div class="govuk-form-group {% if err_complaint_date %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="complaint-date-hint">
                  <legend class="govuk-fieldset__legend">
                    <h1 class="govuk-fieldset__heading">
                      When did you complain to the gambling business?
                    </h1>
                  </legend>
                  {% if err_complaint_date %}
                  <span id="complaint-date-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> When did you complain to the gambling business?
                  </span>
                  {% endif %}
                  <span id="complaint-date-hint" class="govuk-hint">
                    For example, 12 11 2007
                  </span>
                  <div class="govuk-date-input" id="complaint-date">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="complaint-date-day">
                          Day
                        </label>
                        <input
                          class="govuk-input govuk-date-input__input govuk-input--width-2 {% if err_complaint_date %} govuk-form-input--error {% endif %}"
                          id="complaint-date-day" name="complaint-date-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="complaint-date-month">
                          Month
                        </label>
                        <input
                          class="govuk-input govuk-date-input__input govuk-input--width-2 {% if err_complaint_date %} govuk-form-input--error {% endif %}"
                          id="complaint-date-month" name="complaint-date-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="complaint-date-year">
                          Year
                        </label>
                        <input
                          class="govuk-input govuk-date-input__input govuk-input--width-4 {% if err_complaint_date %} govuk-form-input--error {% endif %}"
                          id="complaint-date-year" name="complaint-date-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

              <div class="govuk-form-group {% if err_more_detail %}govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="more-detail">
                  Please tell us more information about your concerns
                </label>
                <span id="more-detail-hint" class="govuk-hint">
                  <p class="govuk-body-s">For example, some
                    information that would be useful is:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-body-s">
                    <li>where you able to complain to the gambling business and did you receive a response</li>
                    <li>have you withdrawn money before</li>
                    <li>how much did you try and withdraw</li>
                    <li>when did you make the request</li>
                    <li>were you asked for identification</li>
                  </ul>
                </span>
                {% if err_more_detail %}
                <span id="more-detail-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> Provide a summary of your enquiry
                </span>
                {% endif %}
                <textarea class="govuk-textarea {% if err_more_detail %}govuk-textarea--error{% endif %}"
                  id="more-detail" name="more-detail" rows="5"
                  aria-describedby="more-detail-hint more-detail-error"></textarea>
              </div>

              <button class="govuk-button" data-module="govuk-button" type="submit">
                Continue
              </button>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="complained-to-operator-2" name="complained-to-operator"
                type="radio" value="no" data-aria-controls="conditional-complained-to-operator-conditional-2">
              <label class="govuk-label govuk-radios__label" for="complained-to-operator-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-complained-to-operator-conditional-2">
              <div class="govuk-form-group">
                <p class="govuk-body">
                  Before raising a concern with us, it helps if you have tried to resolve it with the business first.
                  Please follow the information above, which can help you with how to raise a concern.
                </p>
              </div>

            </div>

          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>

{% endblock %}