{% extends "layout.html" %}

{% block pageTitle %}
Thanks for your feedback
{% endblock %}

{% block pageDescription %}

{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}



{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gc-alert gc-alert--info">
      <h1 class="govuk-heading-l">We've got your message</h1>
      <p class="govuk-body">
        We've sent a copy to the email address you gave us.
      </p>

      {% if data['response-needed'] === 'yes' %}
      <p class="govuk-body">
        You've said you need a response, we'll aim to respond to your message in x working days.
      </p>
      {% endif %}
  
      {% if data['response-needed'] === 'no' %}
      <p class="govuk-body">
        You've said you don't need a response...
      </p>
      {% endif %}
    </div>

  

    <h2 class="govuk-heading-m">Give us feedback</h2>
    <p class="govuk-body">We're working to improve our website and services. If you have feedback about any of our
      services or our website, <a href="/feedback">we'd like to hear it</a>.</p>

    <p class="govuk-body"></p>


    <p class="govuk-body">
      Return to the <a href="https://www.gamblingcommission.gov.uk" rel="noopener">Gambling Commission website</a>
    </p>

  </div>
</div>


{% endblock %}